html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: #38A169;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #48BB78;
}